.kategoryTitle {
  font-weight: 400;
  font-size: 32px;
  color: var(--color-text-light);
}

.boardKategory {
  border-radius: 4px;
  background-color: rgb(128, 128, 128, 0.2);
  width: 100%;
}

.boxKategory {
  display: flex;
  flex-direction: column;
}

.labelKategory {
  font-weight: 400;
  font-size: 18px;
  color: var(--color-text-light);
  padding: 6px 12px;
  margin-block: 0;
}
