.boardKategory {
  border-radius: 4px;
  background-color: rgb(128, 128, 128, 0.2);
  width: 860px;
}

.boxKategory {
  display: flex;
  align-items: center;
  justify-content: center;
}

.labelKategory {
  font-weight: 400;
  font-size: 18px;
  color: var(--color-text-light);
  padding: 6px 12px;
  margin-block: 0;
}
