/*?============= Game_Kategory ============*/

.boardKategory {
  border-radius: 4px;
  background-color: rgb(128, 128, 128, 0.2);
  width: 100%;
}

.label {
  font-weight: 400;
  font-size: 24px;
  color: var(--color-text-light);
  padding: 6px 12px;
  margin-block: 0;
}

.kategoryTable {
  width: 100%;
}

.tableBox {
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0 auto;
  width: 580px;
}
