.navWrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.dashNav {
  display: flex;
  gap: 20px;
  list-style: none;
}

.dashItem a {
  text-decoration: none;
  color: #444;
  font-weight: 400;
  transition: 0.2s;
}

.active a {
  font-weight: 600;
  color: #000;
}

.breadcrumb {
  font-size: 14px;
  color: #777;
}

.segment {
  text-transform: capitalize;
}
