.dashNav {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;

  gap: 1rem;
  padding: 20px 70px;
}

nav {
  background-color: rgba(0, 0, 0, 0.03);
}

.dashItems {
  font-weight: 400;
  font-size: 18px;
  color: #333;
}
