.dashNav {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;

  gap: 1rem;
  padding: 20px 50px;
}

nav {
  width: 250px;
  height: 100%;
  display: flex;
  flex-direction: column;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 0, 0, 0.03);
}

.dashItems {
  font-weight: 400;
  font-size: 18px;
  color: #333;
}
