.column {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header {
  padding: 20px;
  background-color: #000;
  color: #fff;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  border: 2px solid #000;
  min-height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}
