.tile {
  width: 100%;
  height: 100px;
  border: 2px solid #000;
  background-color: #fff;
  color: #000;
  font-size: 32px;
  font-weight: bold;
  cursor: pointer;
  opacity: 1;
}

.tile:disabled {
  background-color: #666;
  color: #999;
  cursor: not-allowed;
  opacity: 0.5;
}
