
.dashTitle {
  font-weight: 400;
  font-size: 32px;
  color: var(--color-text-light);
}

.selectItems {
  border-radius: 6px;
  border: 1px solid rgb(51, 51, 51, 0.3);
  padding: 22px 0;
  width: 460px;
}

.tableContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 20px;
}

/*?============= Game_Table ============*/

.table {
  table-layout: auto;
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
}

/* Зебра-стиль рядків */
.tBody > tr:nth-child(2n) {
  background-color: #f3f4f6; /* gray-100 */
}

.tBody > tr:nth-child(2n + 1) {
  background-color: #ffffff;
}

/*?============= Game_Th ============*/

.th {
  font-weight: 500;
  font-size: 0.85rem;
  text-align: left;

  padding: 0.5rem 1.25rem;
}

.th:first-of-type {
  background-color: #111827; /* gray-900 */
  color: white;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.th:nth-of-type(2) {
  background-color: #e9d5ff; /* purple-200 */
  color: #111827;
}

.th:nth-of-type(3) {
  background-color: #d9f99d; /* lime-200 */
  color: #111827;
}

/* Остання колонка — Handling */
.th:last-of-type {
  background-color: #ffffff;
  color: #111827;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

/*?============= Category_TableRow ============*/

.cell {
  padding: 0.5rem 1.25rem;
  font-size: 0.875rem;
  color: #111827;
}

.left {
  text-align: left;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

/*?============= Category_ ============*/

.container {
  width: min(100%, 1280px); /* parent size 100% width */
  margin: 0 auto;
  padding: 0 15px;
}
