#App {
  max-width: 1200px;
  margin: 0 auto;
  padding: 4rem 2rem;
  text-align: center;
}

main {
  margin-top: 10vh;
}

h1 {
  font-size: 3rem;
  color: var(--text-color);
}

.container {
  width: min(100%, 1280px);
  padding: 90px 15px;
}

.admin-container {
  display: flex;
}

.sectionAdmin {
  width: 100vw;
  height: 100vh;
  background-color: var(--color-bg-admin);
  display: flex;
  justify-content: start;
  overflow: hidden;
}
